/*================================
Template Name:  Fans Club
Author: Beno darry
Author website: http://codegama.com/
Version: 1.0
================================== */

@media (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1440px) {
  .chat-wrapper {
    height: 65vh;
  }
  .scrollbar {
    height: 65vh;
  }
  .search-dropdown-sec {
    right: 340px !important;
  }
  .custom-padding {
    padding-left: 15px !important;
    padding-right: 50px !important;
  }
}

@media (max-width: 1199.98px) {
  .dm-width {
    width: 100%;
    left: 0;
  }
  .footer-section .list-inline {
    white-space: nowrap;
  }
  .dropup {
    padding-top: 0.2em;
  }
  .chat-wrapper {
    display: block;
    width: 100%;
    overflow-y: scroll;
  }
  .follower-profile-header {
    margin-top: -45px;
  }
  .search-dropdown-sec {
    right: 50px !important;
  }
  .resp-col-reverse {
    flex-direction: column-reverse;
  }
  .dm-width {
    width: 100%;
    left: 0;
  }
  .footer-section .list-inline {
    white-space: nowrap;
  }
  .dropup {
    padding-top: 0.2em;
  }
  .chat-wrapper {
    display: block;
    width: 100%;
    overflow-y: scroll;
  }
  .follower-profile-header {
    margin-top: -45px;
  }
  .search-dropdown-sec {
    right: 50px !important;
  }
  .category-accordion .accordion .card-header {
    width: 10em;
  }
  .category-total-card {
    grid-template-columns: repeat(4, 1fr);
  }
  .app-container {
    flex-direction: column;
    height: auto !important;
    display: block !important;
  }

  .app-container .left-side {
    flex-basis: 0;
  }

  .app-container .video-product-list-box {
    height: auto;
  }

  .app-container .right-side {
    margin-left: 0;
  }
  .app-container .app-main {
    height: 50vh;
  }
}

@media (max-width: 991.98px) {
  .videocall-wrapper .new-navbar .navbar.navbar-expand-lg.navbar-light {
    justify-content: space-between !important;
    width: 100%;
  }
  .videocall-wrapper .new-navbar .navbar.navbar-expand-lg.navbar-light::before {
    display: none !important;
  }
  .videocall-wrapper .new-navbar .navbar.navbar-expand-lg.navbar-light::after {
    display: none !important;
  }
  .hamburger-menu {
    display: block;
  }
  .resp-profile-img {
    display: none;
  }
  .create-video-call-right-sec .slick-dots {
    bottom: -50px !important;
  }
  .create-video-call-left-form-sec {
    padding: 40px 15px !important;
  }
  .footer-section .list-inline {
    white-space: unset;
  }
  .dm-device {
    left: 120px;
  }

  .resp-btm-lg {
    margin-bottom: 2em;
  }
  .footer-section .list-inline {
    text-align: center;
  }
  .dropup {
    float: unset;
    text-align: center;
  }
  .round label {
    top: -3px;
  }
  .country-sec {
    text-align: center;
  }
  .overflow {
    min-height: 60vh;
  }
  .main-wrap-sec {
    min-height: 87vh;
  }

  .tabbable-line > .nav-tabs {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: auto;
  }
  .payment-tabs-card .payment-tabs-content td {
    white-space: nowrap;
  }
  .wallet-sec .edit-save {
    justify-content: center;
  }
  .wallet-header-sec {
    text-align: center;
  }
  .wallet-header-details {
    justify-content: center;
    margin-bottom: 1em;
  }

  .trans-table-sec .trans-table td {
    white-space: nowrap;
  }
  .add-account-modal .modal-content {
    width: 100%;
  }
  .msg-row-chat {
    height: 70vh;
  }
  .scrollbar {
    height: 40vh;
  }
  svg {
    width: 100%;
    height: auto;
  }
  .search-dropdown-sec {
    right: 50px !important;
  }
  .col8-sm {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .search-dropdown-list-sec .search-body .search-content h5 {
    flex-direction: column;
  }
  .verified-badge-sec {
    padding-top: 0.5em;
  }
  .search-content .pl-2 {
    padding-left: 0 !important;
  }
  .gallery.js-gallery .react-player__preview {
    min-height: 50vh;
  }
  .resp-col-reverse {
    flex-direction: column-reverse;
  }
  .resp-col-width-half {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
  .user-chat-list-sec {
    flex: 0 0 40% !important;
    max-width: 40% !important;
  }
  .user-chat-room-sec {
    flex: 0 0 60% !important;
    max-width: 60% !important;
  }
  .live-streaming-post-box {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .category-listing-box {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .trans-table-sec .trans-table td {
    white-space: nowrap;
  }
  .add-account-modal .modal-content {
    width: 100%;
  }
  .msg-row-chat {
    height: 70vh;
  }
  .scrollbar {
    height: 40vh;
  }
  svg {
    width: 100%;
    height: auto;
  }
  .search-dropdown-sec {
    right: 50px !important;
  }
  .col8-sm {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .search-dropdown-list-sec .search-body .search-content h5 {
    flex-direction: column;
  }
  .verified-badge-sec {
    padding-top: 0.5em;
  }
  .search-content .pl-2 {
    padding-left: 0 !important;
  }
  .steps-component .steps-navigator li {
    margin-bottom: 1em !important;
  }
  .wallet-header-card {
    margin-bottom: 2em;
  }
  .wallet-sec .edit-save .send-btn-white {
    margin: 10px auto !important;
  }
  .story-slider-card {
    align-items: flex-start !important;
  }
  .new-landing-wrapper .navbar {
    flex-wrap: nowrap;
  }
  .new-landing-wrapper .navbar-nav {
    flex-direction: row;
  }
  /* .navbar-collapse.collapse{
    display: block!important;
  } */
  .whatnot-livestreaming-img {
    height: 18em !important;
  }
  .product-category-box {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 3rem !important;
  }
  .category-base-live-streaming-box {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 3rem !important;
  }
  .whatnot-featured-card {
    margin: auto;
  }
  .ongoing-live-streaming-box {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 2rem !important;
  }
  .new-navbar .navbar-nav {
    flex-direction: row;
  }
  .hide-tab {
    display: none;
  }

  /* .new-navbar .navbar.navbar-expand-lg.navbar-light{
    justify-content: center;
  } */

  .justify-content-end.resp-justify-center {
    justify-content: center !important;
  }
  .category-right-sec {
    width: 75%;
  }
  .category-total-card {
    grid-template-columns: repeat(3, 1fr);
  }
  .app-container {
    flex-direction: column;
    height: auto !important;
    display: block !important;
  }
  .app-container .left-side {
    flex-basis: 0;
  }
  .app-container .video-product-list-box {
    height: auto;
  }
  .app-container .right-side {
    margin-left: 0;
  }
  .app-container .app-main {
    height: 50vh;
  }
  .videocall-wrapper .new-navbar .navbar.navbar-expand-lg.navbar-light {
    flex-direction: column;
    gap: 2em;
  }
}

@media (max-width: 767.98px) {
  .trans-table-sec .trans-table td:first-child {
    word-break: break-all;
    white-space: normal;
    min-width: 200px;
  }
  .videocall-wrapper .new-navbar .navbar.navbar-expand-lg.navbar-light {
    flex-direction: row;
    gap: 0;
  }
  .new-card-title h4 {
    font-size: 1.8em;
    font-weight: 600;
  }
  .new-card-head h3 {
    font-size: 1.8em;
    font-weight: 600;
  }
  .live-streaming-post-sec .bookmarkes-list {
    font-size: 16px;
    width: 100%;
  }
  .explore-tab-sec {
    margin-top: 4em !important;
  }
  .live-streaming-post-sec .bookmarkes-list img {
    margin-right: 0.5em;
  }
  .dropdown-menu.show {
    transform: translate(-275px, 35px) !important;
  }
  .box .inner {
    height: 15.5em;
  }
  .live-streaming-post-box {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .col8-sm {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .main-wrap-sec {
    min-height: 73vh;
    /* overflow: auto; */
  }
  .search-row {
    display: block;
  }
  .search-button {
    text-align: center;
    width: 100%;
    margin-right: 0;
    padding-right: 0;
    padding-top: 1em;
  }
  .search-box:hover > .search-text {
    padding: 2px 10px;
    width: 100%;
  }
  .scrollbar {
    overflow-y: auto;
  }
  /* .margin-col{
        margin-left: 15px;
        margin-right: 15px;
    } */
  .footer-section {
    padding-bottom: 5em;
    padding-top: 1.5em;
  }
  .resp-mrg-btn-xs {
    margin-bottom: 2em;
  }

  .scrollbar {
    height: 30vh;
  }
  .msg-row-chat {
    height: 58vh;
  }

  .chat-subheader {
    padding: 1em 0 16px 24px;
  }
  .bookmarkes-list.bookmarks-right-side {
    margin-bottom: 10px;
  }
  .bookmarkes-list.bookmarks-right-side h3 {
    padding-top: 0.5em;
  }

  .country-sec .dropdown-menu.show {
    transform: translate3d(60px, -100px, 0px) !important;
    display: block !important;
    height: 260px !important;
    min-width: 200px;
    width: 250px;
  }
  .book-photo .box {
    transform: translate3d(0, 5px, 0);
  }
  .box img {
    height: 10em;
    transform: unset;
  }
  .box .inner {
    padding: 2px;
  }
  .profile-post-area {
    display: inline-block;
    width: 100%;
    padding: 0px 0px;
  }
  .profile-btn-group {
    max-width: unset;
    margin-left: unset;
    margin: 5px 0;
  }
  .float-unset {
    float: unset;
  }

  .card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 15em;
    white-space: normal;
  }
  .edit-profile-photo .profile-pic {
    left: 55px;
  }
  .edit-save {
    justify-content: center;
    padding-bottom: 0 !important;
  }
  .bookmarkes-list.bookmarks-right-side {
    /* text-align: center; */
    width: 100%;
    justify-content: space-between;
  }

  .profile-accordion {
    margin-top: 0px;
    padding: 1em 0;
  }
  .profile-accordion .card-header {
    padding: 0.75rem 0rem;
  }
  .tabbable-line > .nav-tabs > li > a {
    margin-right: 10px;
  }
  .tabbable-line ul.nav.nav-tabs span {
    margin-right: 15px;
  }
  .notification-page {
    margin-top: 10px;
  }
  .resp-sapce-center {
    justify-content: space-between !important;
  }
  .payment-sec {
    margin-top: 20px !important;
  }
  .wallet-sec {
    padding-top: 35px !important;
  }
  /* .wallet-header-card h5 {
    margin-bottom: 2em !important;
  } */

  .trans-table .table-responsive {
    border: 0;
  }
  .add-account-modal .modal-content {
    width: 100%;
  }
  .card-list-sec {
    margin-top: 45px !important;
    margin-bottom: 2em;
  }

  .document-upload-sec {
    margin-top: 45px !important;
    margin-bottom: 2em;
  }
  .bookmarkes-list {
    width: 25%;
    justify-content: center;
  }
  .save-btn:last-child {
    margin-left: 0;
  }
  .edit-profile-tabs.nav-tabs .bookmarkes-list {
    min-height: 40px;
    width: 100%;
    font-size: 14px;
  }
  .edit-profile-tabs.nav-tabs {
    margin-bottom: 1em;
  }
  .add-bank-box {
    padding: 20px !important;
  }
  .flex-content {
    margin-bottom: 2em;
  }
  .payment-card {
    margin-bottom: 2em;
  }
  .lists .listing-tab .tab-content.tabs a.bookmarkes-list {
    padding-left: 25px;
  }
  .landing-main-wrapper {
    min-height: 75vh;
  }
  svg {
    width: 100%;
    height: auto;
  }
  /* .search-box {
        justify-content: center;
    } */
  .no-data-found-sec .no-data-found-img-sec img {
    max-width: 90%;
  }
  .search-dropdown-sec {
    right: 55px !important;
    top: 133px;
  }
  .search-btn {
    width: 46px;
  }
  .bookmark-sec .post-header {
    justify-content: space-between;
  }
  span.post-user-name {
    display: block;
  }
  .post-header-right-side .flex-content {
    margin-bottom: 0;
  }
  .home-sec .post-header {
    align-items: flex-start;
  }

  .my-profile .profile-btn-group {
    justify-content: space-between;
  }
  .my-profile .profile-btn-group .save-btn {
    margin-bottom: 1em;
  }
  .home-sec .user-name {
    margin-left: 10px;
  }
  .book-photo .profile-post-area {
    display: inline-block !important;
  }
  .follower-profile-status {
    margin: 0 0 5px;
  }
  .doc-upload-img {
    width: 30em !important;
  }
  .pull-left.side-user-head h3.g-user-name {
    display: block;
  }
  .pull-left.side-user-head h3.g-user-name .verified-badge-sec {
    padding-top: 0.5em;
  }
  .pull-left.side-user-head h3.g-user-name .pl-2 {
    padding-left: 0 !important;
  }
  .my-profile .post-content p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
  .msg-header {
    min-height: auto;
  }
  .search-dropdown-list-sec .search-body .search-content h5 {
    flex-direction: column;
  }
  .verified-badge-sec {
    padding-top: 0em;
  }
  .search-content .pl-2 {
    padding-left: 0 !important;
  }
  .likes.alignleft a.title-container {
    width: 20%;
  }
  .likes .alignleft {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .comment-box-form .user-picture {
    width: 20%;
    top: 0px;
  }
  .b-friend__content .b-friend__avatar .profile-pic {
    width: 80px;
    top: -40px;
    height: 80px;
  }
  span.comment-message {
    max-height: 3em;
    width: 100%;
  }
  .bookmarks-photos ul.box-container.three-cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  /* .no-data-found-sec .no-data-found-img-sec img {
    max-width: 100%;
  } */
  .search-dropdown-sec {
    right: 55px !important;
    top: 133px;
  }
  .search-btn {
    width: 46px;
  }
  .category-list-sec .media {
    justify-content: center;
  }
  .category-list-sec .category-sec {
    margin-right: 0;
  }
  .bookmark-sec .post-header {
    justify-content: space-between;
  }
  span.post-user-name {
    display: block;
  }
  .post-header-right-side .flex-content {
    margin-bottom: 0;
  }
  .home-sec .post-header {
    align-items: flex-start;
  }

  .my-profile .profile-btn-group {
    justify-content: space-between;
  }
  .my-profile .profile-btn-group .save-btn {
    margin-bottom: 1em;
  }
  .home-sec .user-name {
    margin-left: 10px;
  }
  .book-photo .profile-post-area {
    display: inline-block !important;
  }
  .follower-profile-status {
    margin: 0 0 5px;
  }
  .doc-upload-img {
    width: 30em !important;
  }
  .pull-left.side-user-head h3.g-user-name {
    display: block;
  }
  .pull-left.side-user-head h3.g-user-name .verified-badge-sec {
    padding-top: 0.5em;
  }
  .pull-left.side-user-head h3.g-user-name .pl-2 {
    padding-left: 0 !important;
  }
  .my-profile .post-content p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .msg-header {
    min-height: auto;
  }
  .search-dropdown-list-sec .search-body .search-content h5 {
    flex-direction: column;
  }
  .verified-badge-sec {
    padding-top: 0em;
  }
  .search-content .pl-2 {
    padding-left: 0 !important;
  }
  .likes.alignleft a.title-container {
    width: 20%;
  }
  .likes .alignleft {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .comment-box-form .user-picture {
    width: 20%;
    top: 0px;
  }
  .b-friend__content .b-friend__avatar .profile-pic {
    width: 80px;
    top: -40px;
    height: 80px;
  }
  span.comment-message {
    max-height: 3em;
    width: 100%;
  }
  .bookmarks-photos ul.box-container.three-cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .edit-profile.book-photo .box .inner {
    width: 100% !important;
  }

  .edit-profile.book-photo .box img {
    width: 100%;
  }

  .box::before {
    display: none;
  }

  .box a::before {
    display: none;
  }

  .book-photo .box {
    transform: unset;
  }

  .bookmarks-photos .three-cols .box {
    width: 100%;
    margin: 0;
  }
  .edit-profile .tab-content.tabs {
    padding-bottom: 2em;
  }
  .gallery {
    overflow: unset;
  }
  /* .my-profile .post-image{
        margin-top:2em;
    } */
  .my-profile .post-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
  }
  h1.chat-page-title {
    font-size: 12px;
  }
  button.g-btn.m-rounded.m-border.m-uppercase.m-flex.m-fluid-width.m-profile {
    margin-top: 0;
  }
  .msg-row-chat {
    padding-left: 20px;
    padding-right: 20px;
  }
  .upload-profile-img-form {
    margin-bottom: 2em;
  }
  /* .drawer__wrapper ul.list-inline{
        margin-bottom:1rem;
    } */
  .drawer__wrapper .pull-left.side-user-head {
    float: none !important;
  }
  .drawer__header {
    padding-bottom: 18px;
  }
  .gallery.js-gallery .react-player__preview {
    min-height: 16em;
  }
  .bookmark-sec .vertical-menu {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: auto;
  }
  .profile-links {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: auto;
  }
  .profile--user {
    margin-bottom: 10px;
  }
  .resp-col-reverse {
    flex-direction: column-reverse;
  }
  .gallery-play-icon {
    top: 40%;
  }
  .react-player__preview {
    background-repeat: no-repeat;
  }
  .post-content .post-image .post-view-image {
    height: 16em;
    object-fit: cover;
    min-height: 16em;
  }
  .resp-col-width {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .new-footer-sec {
    padding-bottom: 8em;
    text-align: center;
  }
  .footer-link-sec li {
    align-items: center;
    justify-content: center;
  }
  .footer-social-link-sec {
    align-items: center;
    justify-content: center;
  }
  .single-profile-banner-img {
    height: 25vh !important;
  }
  .single-pro-action-sec {
    display: block !important;
    text-align: center;
  }
  .chat-view-image {
    width: 235px;
  }
  .chat-room-pay-display {
    width: 96%;
  }
  .chat-message-wrapper .post-video-size video {
    width: 250px !important;
    height: 144px !important;
  }
  .chat-message-wrapper .post-video-size {
    height: 195px !important;
  }

  .single-pro-action-sec li:first-child {
    margin-bottom: 1em;
  }
  .single-profile-post-unlock-btn {
    left: 11% !important;
  }
  .user-chat-list-sec {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .user-chat-room-sec {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .chat-list-collapse-body {
    height: 50vh !important;
  }
  .user-chat-main-wrapper-body {
    height: 50vh !important;
  }
  .live-streaming-post-box {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .category-listing-box {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .category-listing-sec.new-category-listing-sec .category-listing-sec {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: auto;
  }
  .create-post .create-post-box .bookmarkes-list.notify-title {
    font-size: 16px;
    width: 100%;
  }
  .tabbable-line > .nav-tabs > li.active > a {
    font-size: 16px;
  }
  .drawer__wrapper .pull-left.side-user-head {
    float: none !important;
  }
  .drawer__header {
    padding-bottom: 18px;
  }
  .steps-component .steps-navigator li {
    margin-bottom: 1em !important;
  }
  .step-1-flex-data {
    display: block !important;
    text-align: center;
  }
  .footer-aligin-center {
    display: block !important;
  }
  .footer-aligin-last {
    display: block !important;
  }
  .single-cta {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer-cta {
    text-align: center;
  }
  .single-cta i {
    margin-bottom: 0.5em;
  }
  .footer-widget {
    text-align: center;
  }
  .footer-logo {
    text-align: center;
  }

  .footer-widget ul li {
    justify-content: center;
  }
  .footer-widget-heading h3::before {
    left: 42% !important;
  }
  .latest-footer-sec {
    padding-bottom: 4.7em;
  }
  .display-hide {
    display: none !important;
  }
  .text-box {
    width: 80% !important;
  }
  .reply-action-icons {
    margin-top: 0.5em;
  }
  .gallery-top-btn-sec {
    bottom: 6em;
  }
  .home-sec .likes.alignleft {
    float: unset !important;
  }
  .Show.view-comments.d-block.pt-3 {
    padding-top: 0 !important;
  }
  .reply-text-field .hasFocus {
    width: 300px !important;
    margin-top: 1em;
  }
  .reply-text-field .form-inline .form-reply {
    padding-left: 0;
  }
  .home-sec .comment-row .alignleft {
    display: block !important;
  }
  .home-sec .user-name {
    margin-top: 10px;
  }
  .story-slider-card {
    align-items: flex-start;
  }
  .wallet-header-card {
    margin-bottom: 2em;
  }
  .wallet-header-details h3 {
    text-align: left;
  }
  .wallet-header-card {
    align-items: flex-start;
  }
  .wallet-sec .edit-save .send-btn-white {
    margin: 10px auto !important;
  }
  .display-mobile {
    display: flex !important;
  }
  .display-mobile a {
    margin: auto;
  }
  .about-me-sec {
    display: flex !important;
  }
  .user-chat-box .input-group-text {
    padding: 0.8em 1em !important;
  }
  .user-chat-box .user-chat-main-wrapper-footer .form-control {
    width: 100%;
    margin-bottom: 0.5em;
  }
  .reply-text-field {
    flex-direction: column;
  }
  .edit-profile.bookmark-sec .bookmarkes-list {
    font-size: 16px;
    width: 100%;
    justify-content: left;
  }
  .vertical-menu a span {
    font-size: 0;
  }
  .edit-profile.book-photo .bookmarkes-list {
    font-size: 16px;
    width: 100%;
    justify-content: left;
  }
  .edit-profile.book-photo .vertical-menu {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: auto;
  }
  .wallet-sec .bookmarkes-list {
    font-size: 16px;
    width: 100%;
    justify-content: left;
  }
  .wallet-header-sec h3 {
    text-align: left;
  }
  .lists .bookmarkes-list {
    font-size: 16px;
    width: 100%;
    justify-content: left;
  }
  .card-list-sec .bookmarkes-list {
    font-size: 16px;
    width: 100%;
    justify-content: left;
  }
  .payment-sec .bookmarkes-list {
    font-size: 16px;
    width: 100%;
    justify-content: left;
  }
  .document-upload-sec .bookmarkes-list {
    font-size: 16px;
    width: 100%;
    justify-content: left;
  }
  .referrals-sec {
    margin-top: 4em !important;
  }
  .referrals-social-link-sec {
    grid-template-columns: repeat(2, 1fr) !important;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .how-its-work-sec {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .wallet-sec.live-video-list-header-sec .wallet-header-sec .text-right {
    text-align: center !important;
  }
  .live-history-btn {
    margin-bottom: 1em;
  }
  .go-live-img {
    max-width: 18em;
    margin-bottom: 2em;
  }
  .go-live-img-sec {
    margin: auto;
    text-align: center;
  }
  .become-content-creator-box .progtrckr {
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: auto;
    height: 16vh;
    align-items: flex-start !important;
    justify-content: flex-start !important;
  }
  .become-content-creator-box ol.progtrckr li span {
    display: none;
  }
  .become-content-creator-box ol.progtrckr li {
    margin-right: 3em;
  }
  .become-content-creator-box .progtrckr em {
    display: none;
  }
  .step-4-subscription-content-sec .input-group {
    width: 100% !important;
  }
  .save-btn:last-child {
    margin-bottom: 1em;
    margin-left: 20px !important;
  }
  .step-1-content-sec p {
    text-align: center;
    margin-bottom: 0.5em;
  }
  .step-5-payout-method-sec .btn.gradient-btn.addBank {
    margin-bottom: 1em;
    padding: 10px 30px !important;
  }
  .ecom-featured-box {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .ecom-sec {
    margin-top: 0 !important;
    min-height: 50vh !important;
  }
  .banner-content h4 {
    font-size: 1.2em !important;
  }
  .banner-content h3 {
    font-size: 10.1em !important;
  }
  .banner-content {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
  }

  .ecom-cart-table table {
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
    display: block;
  }
  .ecom-cart-sec {
    margin-top: 2em !important;
  }
  .order-list-sec {
    margin-top: 4em !important;
  }
  .order-view-sec {
    margin-top: 4em !important;
  }
  .border-right-divider {
    border-right: 0 !important;
    padding-right: 0 !important;
  }
  .ecom-payment-sec {
    margin-top: 4em !important;
  }
  .ecom-payment-method-sec {
    margin-top: 4em !important;
  }
  .add-product-form {
    margin-top: 0em !important;
  }
  .become-content-creator-sec {
    margin-top: 4em !important;
  }
  .vc-single-sec {
    margin-top: 4em !important;
    margin-bottom: 4em !important;
  }
  .vc-single-sec #local-player {
    width: 92vw !important;
  }
  .vc-single-sec #remote-playerlist {
    width: 92vw !important;
  }
  .vc-single-sec .post-list {
    margin-bottom: 4em !important;
  }
  .vc-single-sec .live-action-icon-sec {
    width: 95% !important;
  }
  .video-call-product-list-sec .nav.nav-pills {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: auto;
  }
  .app-container {
    display: block !important;
    height: auto !important;
  }
  .video-product-list-box {
    height: auto !important;
  }
  .create-video-call-left-form-sec {
    padding: 15px 15px !important;
  }
  .create-video-call-latest-sec {
    margin-top: 20px !important;
    margin-bottom: 2em;
  }
  .new-landing-wrapper .navbar {
    flex-wrap: nowrap !important;
  }
  .new-landing-wrapper .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .new-landing-wrapper .home-banner-sec .banner-content {
    padding-top: 4em !important;
    height: auto;
  }
  .new-landing-wrapper .banner-content h2 {
    font-size: 4em !important;
  }
  .whatnot-livestreaming-card {
    margin-top: 1em !important;
  }
  .new-landing-wrapper .navbar-collapse {
    position: fixed;
    left: 20%;
    top: 8.4rem;
    flex-direction: column;
    background-color: #fff;
    width: 80%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgb(0 0 0 / 5%);
    height: 100%;
    padding: 1rem 2rem;
  }
  .header-nav-center .navbar .nav-item .nav-link.active {
    color: #000 !important;
  }
  .header-nav-center .navbar .nav-item {
    padding: 1rem 2rem;
  }
  .header-nav-center .navbar .nav-item .nav-link {
    text-align: left;
  }
  .latest-header-btn {
    text-align: center !important;
  }
  .new-landing-wrapper .collapse.in {
    display: block !important;
  }
  .new-landing-wrapper .navbar-toggle {
    border: 1px solid #fff;
    margin-right: 0;
    position: relative;
    right: 0;
    margin-left: 18em;
  }
  .product-category-box {
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 3rem !important;
  }
  .category-base-live-streaming-box {
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 3rem !important;
  }
  .ongoing-live-streaming-box {
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 3rem !important;
  }
  .live-streaming-notify-img {
    margin-bottom: 2em;
  }
  .whatnot-footer-sec {
    text-align: center;
  }
  .whatnot-footer-social-link-sec {
    justify-content: center;
  }
  .whatnot-livestreaming-info .whatnot-livestreaming-icon {
    max-width: unset !important;
  }
  .new-landing-wrapper .sm-padding {
    padding: 4em 0 !important;
  }
  .navbar-toggle i {
    font-size: 1.4em;
    color: #fff;
  }
  .category-left-sec {
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    z-index: 99;
    left: 0;
    right: 0;
    overflow: auto;
    height: 100%;
    padding: 2em;
    margin-left: 0;
    display: none;
  }
  .category-left-sec.category-left-sec-fixed {
    display: block !important;
  }
  .hide-tab {
    display: block;
  }
  .new-navbar .navbar.navbar-expand-lg.navbar-light {
    align-items: center !important;
    justify-content: space-between !important;
    width: 100%;
    padding-left: 0 !important;
  }
  .category-right-sec {
    width: 100%;
    margin: 0;
    padding: 2em;
  }
  .category-tab-card {
    margin: 2em 0;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: auto;
    padding: 1em 0;
  }
  .new-navbar .navbar-nav {
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 0.5em;
    padding-top: 0em;
  }
  .resp-togle-btn-sec .resp-navbar {
    flex-direction: row !important;
    margin-top: 0 !important;
    align-items: center !important;
  }
  .new-navbar .navbar-brand img {
    height: 3em;
  }
  .new-navbar .navbar-light .navbar-nav .nav-link {
    margin-right: 0.5em;
  }
  .new-navbar ::before {
    display: none;
  }
  .new-navbar nav ::after {
    display: none;
  }
  .new-navbar ::after {
    display: none;
  }
  .mobile-nav-filter-sec {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .mobile-nav-filter-sec a {
    font-size: 1.4em;
    font-weight: 500;
    color: #000000;
    align-items: center;
    gap: 0.2em;
    display: inline-block;
    border: 0.1rem solid #f3f4fe !important;
    transition: border-color 216ms ease-in-out 0s,
      background-color 216ms ease-in-out 0s;
    text-decoration: none;
    letter-spacing: -0.01rem;
    padding: 0.5em 1.5em;
    border-radius: 8rem;
    background: #fff351;
    margin-bottom: 1em;
  }
  .mobile-nav-filter-sec a span svg {
    width: 0.4em;
  }
  .category-accordion .accordion .card-header {
    width: auto;
  }
  .close-icon-sec {
    position: absolute;
    right: 28px;
    top: 28px;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #3e3e3e;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 999;
  }
  .close-icon-sec i {
    color: var(--secondary-color);
    font-size: 1rem;
  }
  .new-navbar .navbar-light .navbar-toggler {
    border: 0 !important;
    padding: 0 !important;
  }
  .category-total-card {
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
  .category-card-head {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .category-card-head h2 {
    font-size: 4em;
  }
  .new-profile-banner {
    flex-direction: column;
    gap: 1em;
  }
  .new-profile-title {
    text-align: center;
  }
  .new-profile-sec {
    padding: 2em 0 0;
  }
  .new-profile-follower {
    justify-content: center;
    gap: 1em;
  }
  .app-main {
    height: 50vh;
  }
  .footer-contact-list {
    flex-direction: column;
  }
  .auth-login-sec {
    padding: 3em 0 !important;
  }
  .bg-illustration {
    height: 50vh !important;
    margin-bottom: 3em;
  }
  .product-check-box-sec label {
    grid-template-columns: 100px auto;
    display: grid !important;
    gap: 1em;
  }
  .products-info h5 {
    width: 100% !important;
  }
  .products-info p {
    width: 100% !important;
  }
  .send-button svg {
    width: 30px;
    height: 30px;
  }
  .wallet-header-sec .col-xl-8.col-md-12.col-sm-12 {
    margin-bottom: 1em;
  }
  .trans-table-sec .trans-table {
    padding: 0 !important;
  }
  .wallet-header-sec .live-history-btn {
    margin-bottom: 0 !important;
  }

  .wallet-header-sec h3 {
    text-align: center !important;
  }
  a.sidebar-menus-item {
    white-space: pre;
  }
  .whatnot-footer-sec {
    padding: 4em 0 !important;
  }

  .ecom-nav-link {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: auto;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .ecom-navbar .ecom-nav-link li a:last-child {
    margin-right: 1em !important;
  }
  .product-list-sec .table-wrap {
    margin-top: 0 !important;
  }
  .order-list-sec .table-wrap {
    margin-top: 0 !important;
  }
  .order-transaction-sec .table-wrap {
    margin-top: 0 !important;
  }
  .product-list-sec .table th {
    white-space: nowrap !important;
    width: auto !important;
  }
  .product-list-sec .table td {
    white-space: nowrap !important;
    width: auto !important;
  }
  .product-list-action-icons {
    display: flex;
  }
  .login .login-box .login-form .login-btn {
    width: 100% !important;
  }
  .product-check-box-sec ul {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .new-dropdown-language .dropdown-menu.show {
    min-width: 100px;
    transform: translate(92px, 38px) !important;
    width: 100px;
  }
  .footer-contact-list {
    flex-direction: column;
  }
  .participant-notify li {
    margin-right: 0 !important;
  }
  .participant-notify {
    gap: 0.5em;
  }
  .participant-actions {
    right: 6px !important;
    top: 45px !important;
  }
  .new-search-input .input-group {
    margin: 0em auto 2em;
    max-width: 245px;
  }
  .new-search-bar .new-search-input {
    display: none;
  }
  .mobile-search-bar {
    display: block;
  }
  .search-dropdown {
    left: 36px;
  }
}

@media (max-width: 375px) {
  .search-dropdown-sec {
    right: 20px !important;
    top: 133px;
  }
  .new-landing-wrapper .navbar-toggle {
    margin-left: auto;
  }
}

@media (max-width: 360px) {
  .new-landing-wrapper .navbar-toggle {
    margin-left: auto;
  }
  .banner-btn-sec .btn.banner-theme-btn {
    margin-bottom: 1em;
  }
}

@media (max-width: 320px) {
  .search-dropdown-sec {
    right: 10px !important;
    top: 133px;
    width: 295px;
  }
  .new-landing-wrapper .navbar-toggle {
    margin-left: auto;
  }
  .banner-btn-sec .btn.banner-theme-btn {
    margin-bottom: 1em;
  }
}
